@import '../../../styles/mixin.scss';
.router-container{
 .ant-layout{
   .ant-layout-content{}
 }
 .ant-btn-primary{}
  .ant-btn-primary{
    background-color: #4f82c3;
    color: #fff;
    font-size: 14px;
    &:hover{
      background-color: #416B9E;
      border-color: #416B9E;
    }
  }
}
.left-menu{
    min-height: 5rem;
    // background: #FFF;
    // .item-all-interface {
    //   background-color: red;
    // }
    // .ant-tabs-bar{
    //     border-bottom: none;
    //     margin-bottom: 0
    // }
    .ant-tag {
      margin-right: .16rem;
    }
    .ant-tabs{
      padding: 20px 20px;
      border-bottom: 1px solid #dadada;
      .ant-tabs-nav{
        .ant-tabs-ink-bar{
          display: none;opacity: 0;
        }
        .ant-tabs-tab{
          display: inline-block;
          margin-bottom: 0;
          font-weight: 400;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          background-image: none;
          border: 1px solid transparent;
          white-space: nowrap;
          padding: 0;
          font-size: 14px;
          line-height: 40px;
          border-radius: 4px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          margin-left: -1px;
          width: 1.28rem;height: 40px;
          margin-right: 0;
          background-color: #f7f9fc;
          border-left: solid 1px #dfe2e8;
          color: #989ca2;
          &:hover{
            background-color: #4d7bb6;
            color: white;
          }
        }
        .ant-tabs-tab:nth-of-type(2):not(:last-of-type) {
          margin-left: 0;
          border-left: none;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
        .ant-tabs-tab:not(:nth-of-type(2)):not(:last-of-type) {
          border-radius: 0;
        }
        .ant-tabs-tab:last-of-type:not(:nth-of-type(2)){
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border-left: solid 1px #dfe2e8;
        }
        .ant-tabs-tab.ant-tabs-tab-active{
          background-color: #4d7bb6;
          border-left: solid 1px #dfe2e8;
          color: white;
        }
      }
    }
    //.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    //    height: 39px;
    //    background: #fff;
    //    border-bottom: 0;
    //  border-radius: 4px;
    //}
    //.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active{
    //    height: 40px;
    //    background-color: #4d7bb6;
    //     color: $color-white;
    //}
    //
    //.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container{
    //    height: 40px;
    //}
    //
    //.ant-tabs.ant-tabs-card > .ant-tabs-bar{
    //    text-align: center;
    //    // background: #ececec;
    //}
    //
    //.ant-tabs-nav-wrap{
    //    height: 40px;
    //    line-height: 31px;
    //    // border-bottom: 1px solid #d9d9d9;
    //}
    .ant-input {
        width: 100%;
    }
    .interface-filter{
        padding: 12px 16px;
        padding-right: 110px;
        line-height: 32px;
        position: relative;
    }
    .btn-filter {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      color: #fff;
      background-color: #4f82c3;
      border-color: #4f82c3;
      &:hover{
        background-color: #416B9E;
      }
    }
    .ant-tree li .ant-tree-node-content-wrapper {
      width: calc(100% - 28px);
      position: relative;
      &:hover{background-color: #fafafa;}
      .container-title {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .btns {
        background-color: transparent;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: all .2s;
      }
    }
    .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: #f4f6f4;
      .btns {
        background-color: transparent;
        transition: all .2s;
      }
    }
    .ant-tree{
      .ant-tree-node-content-wrapper.ant-tree-node-selected{
        .btns{background-color: transparent;}
      }
    }

    .interface-delete-icon{
        position: relative;
        right: 0;
        float: right;
        line-height: 25px;
        width: 24px;
        font-weight: bold;
    }
    .anticon-ellipsis {
      transform: rotate(90deg);
    }
    .interface-delete-icon:hover {
        color: #2395f1;
    }

    .interface-list{
      //max-height: 600px;
      //overflow-y: scroll;
        .cat_switch_hidden{
            .ant-tree-switcher{
                visibility: hidden;
            }
        }


        a{
            color: #666666;
        }

        .btn-http{
            height: 23px;
            font-size: 10px;
            margin-right: 7px;
            padding: 0 5px;
            width:auto !important;
        }
        .interface-item{
            display: inline-block;
            top: 0px;
            line-height: 100%;
            font-size: 14px;
        }
        .interface-item-nav{
            line-height:25px;
        }
        .interface-list{
            .cat_switch_hidden{
                .ant-tree-switcher{
                    visibility: hidden;
                }
            }

            .btn-http{
                height: 23px;
                font-size: 10px;
                margin-right: 7px;
                padding: 0 5px;
                width:auto !important;
            }
            .interface-item{
                display: inline-block;
                overflow: hidden;
                top: 0px;
                line-height: 100%;
                text-decoration: none;
            }
            .interface-item-nav{
                line-height:25px;
            }


        }
    }
}

.right-content{
  min-height: 5rem;
  background: #fff;
  .caseContainer {
    table {
      border-radius: 4px;
      // border-collapse: collapse;
    }
    .ant-table-small .ant-table-thead > tr > th {
      text-align: left;
      background-color: #f8f8f8;
    }
    tr:nth-child(even){background: #f8f8f8;}
    .ant-row{
      .colKey{color: #ababab;font-weight: normal;}
      .ant-col-8{color: #333333;}
    }
  }
  .interface-content{
    .ant-tabs-nav{
      width:100%;
      // background-color: #ddd;
      // color: $color-white;
    }
    .ant-tabs-nav-wrap{
      text-align: left;
    }
    .right-face-tabs{
      padding: 20px;
      border-bottom: 1px solid #dadada;
      .ant-tabs-nav{
        .ant-tabs-ink-bar{
          display: none;opacity: 0;
        }
        .ant-tabs-tab{
          display: inline-block;
          margin-bottom: 0;
          font-weight: 400;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          background-image: none;
          border: 1px solid transparent;
          white-space: nowrap;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          border-radius: 4px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          margin-left: -1px;
          width: 1.09rem;
          margin-right: 0;
          background-color: #f7f9fc;
          border-left: solid 1px #dfe2e8;
          color: #989ca2;
          &:hover{
            background-color: #4d7bb6;
            color: white;
          }
        }
        .ant-tabs-tab:nth-of-type(2):not(:last-of-type) {
          margin-left: 0;
          border-left: none;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
        .ant-tabs-tab:not(:nth-of-type(2)):not(:last-of-type) {
          border-radius: 0;
        }
        .ant-tabs-tab:last-of-type:not(:nth-of-type(2)){
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
        .ant-tabs-tab.ant-tabs-tab-active{
          background-color: #4d7bb6;
          border-left: solid 1px #dfe2e8;
          color: white;
        }
      }
    }
    .caseContainer{
      .panel-view{}
      .col-title{color: #333333;}
      .ant-table{
        font-size: 14px;
        .ant-table-content{
          table{
            border-radius: 0;
            padding: 0;
            .ant-table-thead{
              border-collapse: collapse;
              height: 38px;
              line-height: 38px;
              tr{
                background-color: #ffffff;
                border: 1px solid #ecf0ef;
                th{
                  padding-top: 0;
                  padding-bottom: 0;
                  color: #666666;
                  border-right: none;
                }
                th:first-child{padding-left: 15px;}
              }
            }
            .ant-table-tbody{
              tr{
                td{
                  line-height: 50px;
                  padding-top: 0;
                  padding-bottom: 0;
                  color: #999999;
                  border-right: none;
                }
                td:first-child{padding-left: 15px;}
              }
              tr:nth-child(odd){background: #ffffff;}
              tr:nth-child(even){background: #f8f8f8;}
            }
          }
        }
      }
    }
    .interface-test{
      .has-plugin{
        .ant-alert-warning{
          border: 1px solid #7ab2f6;
          background-color: #eef2f7;
        }
      }
      .url{
        .ant-btn-primary{
          background-color: #4f82c3;
          border-color: #4f82c3;
          color: #fff;
          font-size: 14px;
        }
      }

    }
    .response-tab{
      .ant-tabs-ink-bar{opacity: 0;display: none;}
      .ant-tabs-tab-active{
        color: #333333;
      }
      .ace_editor.ace-xcode{
        background-color: #fff;
      }
    }
  }
  .interface-title {
    clear: both;
    font-weight: normal;
    margin-top: .48rem;
    margin-bottom: .16rem;
    color: #333333;
    font-size: 14px;
  }
  .container-radiogroup {
    text-align: right;
    margin-bottom: .16rem;
  }
  .panel-sub {
    padding: .10rem;
  }
  .ant-radio-button-wrapper-checked {
    color: #fff;
    background-color: #2395f1;
    &:hover {
      color: #ddd;
    }
  }
  .href {
    color: #2395f1;
    cursor: pointer;
  }
  .remark-editor {
    background-color: #fff;
  }
  .remark {
    table {
      border-collapse: collapse;
    }
    th {
      text-align: left;
      font-weight: normal;
      background-color: #f8f8f8;
      text-indent: .4em;
    }
    tr {
      text-indent: .4em;
    }
    th, td {
      border: 1px solid #e9e9e9;
    }
    tr:nth-child(odd){background: #f8f8f8;}
    tr:nth-child(even){background: #fff;}
  }
  .interface-col{
    .interface-col-table-header{
      background-color: #ffffff;
      border: 1px solid #ecf0ef;
      height: 38px;
      line-height: 38px;
      th{color: #666666;font-weight: normal;}
      th:first-child{padding-left: 15px;}
    }
    .interface-col-table-body{
      tr{
        td:first-child{padding-left: 15px;}
      }
      tr:nth-child(odd){background: #ffffff;}
      tr:nth-child(even){background: #f8f8f8;}
    }
  }
  .table-interfacelist{
    table{
      border-collapse: collapse;
    }
    .ant-table-thead{
      border-collapse: collapse;
      height: 38px;
      line-height: 38px;
      tr{
        background-color: #ffffff;
        border: 1px solid #ecf0ef;
        th{
          padding-top: 0;padding-bottom: 0;
        }
      }
      th{
        color: #666666;font-weight: normal;
        background: transparent;border: none;
        padding-top: 0;padding-bottom: 0;
      }
      th:first-child{padding-left: 15px;}
    }
    .ant-table-tbody{
      tr{
        td{
          line-height: 50px;
          padding-top: 0;
          padding-bottom: 0;
          .tag-status.undone::before {
            background-color: #f58909;
          }
        }
        td:first-child{padding-left: 15px;}
      }
      tr:nth-child(odd){background: #ffffff;}
      tr:nth-child(even){background: #f8f8f8;}
    }
  }
}
.addcatmodal{
    .ant-modal-body{
        padding: 10px 0px;
        .ant-form-item{
            margin-bottom: 10px;
        }
        .catModalfoot{
            border-top: 1px solid #e9e9e9;
            margin-bottom: 0px;
            padding-top: 10px;
            margin-top: 0px;
            .ant-form-item-control-wrapper{
                margin-left: 0px;
            }
            .ant-form-item-control {
                float: right;
                margin-right: 10px;
            }
            
        }
    }
}