@import '../../styles/mixin.scss';

.g-doc {
  @include row-width-limit;
  margin: 0 auto .24rem;
}
.news-box .news-timeline .ant-timeline-item .ant-timeline-item-content{
  min-width: 300px !important;
  width: 75% !important;
}
.projectGround{
  .ant-tabs-nav-container{
    .ant-tabs-nav{
      .ant-tabs-ink-bar{
        display: none;opacity: 0;
      }
      .ant-tabs-tab{
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-left: -1px;
        width: 1.09rem;
        margin-right: 0;
        background-color: #f7f9fc;
        border-left: solid 1px #dfe2e8;
        color: #989ca2;
        &:hover{
          background-color: #4d7bb6;
          color: white;
        }
      }
      .ant-tabs-tab:nth-of-type(2):not(:last-of-type) {
        margin-left: 0;
        border-left: none;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      .ant-tabs-tab:not(:nth-of-type(2)):not(:last-of-type) {
        border-radius: 0;
      }
      .ant-tabs-tab:last-of-type:not(:nth-of-type(2)){
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      .ant-tabs-tab.ant-tabs-tab-active{
        background-color: #4d7bb6;
        border-left: solid 1px #dfe2e8;
        color: white;
      }
    }
  }
  .ant-tabs-content{}

}